div.projects {
    background-color: aqua;
    margin-bottom: 2%;
}

div.projects > h3, h2 {
    margin: 0%;
}

.hiddenTaskForm, .hiddenUpdateForm {
    display: none;
}

.editProject {
    font-style: italic;
}

.strikeThrough {
    text-decoration-line: line-through;
}